.product__card{
    max-width: 250px;
    background-color: white;
    border-radius: 5px;
    padding: 10px;
    display: grid;
    place-items: center;
    row-gap: 10px;
}

.product__head{
    text-align: center;
}

.image__container{
    display: flex;
    justify-content: center;
    align-items: center;
    max-width: 100px;
}

.product__image{
    max-width: 100%;
}

.price{
    font-weight: bold;
}

.product__description{
    font-size: 12px;
}