.container{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    max-width: 1350px;
    margin: 0 auto;
    row-gap: 40px;
}

.form-container{
    background-color: white;
    padding: 25px;
    border-radius: 5px;
}

.head{
    font-size: 20px;
    font-weight: 400;
    margin-bottom: 20px;
}

.horizontal-bar{
    height: 1px;
    width: 100%;
    margin: 35px 0;
    background-color: rgb(203, 203, 203);
}

.or-bar-container{
    position: relative;
}

.or-text{
    color: rgb(189, 189, 189);
    background-color: white;
    border: 1px solid;
    padding: 1px 6px;
    border-radius: 5px;
    position: absolute;
    bottom: -11px;
    left: 50%;
    transform: translateX(-50%);
}

.products__container{
    margin-top: 20px;
    display: flex;
    flex-wrap: wrap;
    gap: 10px;
}